<!DOCTYPE html>
<html lang="en">
{% include '/Users/yana/Documents/Task/sciekipolskie/templates/includes/header.html' %}

<body>
<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active">Employee Working Card</a>
            <a class="nav-item nav-link" href="/">List of all employees</a>
        </div>
    </div>
</nav>
<!-- Nav -->

<!-- Employee Details -->
<div class="card">
    <div class="card-body">
        <h3>Employee name and ID: </h3> <h4 style="background-color:#3DB1D1">{{ worker.name }} {{ worker.id_of_worker }} </h4>
        <p>Tasks: Here I will set up task table</p>
              <th scope="col" class="col-1" colspan="4"><h3>Tasks</h3>
                  <a class="nav-item nav-link" href="/task/new/{{ worker.id_of_worker }}/">Add new task</a>
                            <table style="text-align: center; width: 100%">
                <tr >
                    <td class="col-1">
                        Description
                    </td>
                    <td class="col-1">
                        Status
                    </td>
                    <td class="col-1">
                        Category
                    </td>
                    <td class="col-1">
                        Deadline
                    </td>
                      <td class="text-right">
                        <div class="row">
                          <form action="/" method="post" class="pull-right">
                            <input type="submit" class="btn" value="Done">
                            <input type="submit" class="btn" value="Delete">
                          </form>
                        </div>
                      </td>

                </tr>
            </table>
              </th>

    </div>
</div>

<!-- Employee Details -->


<!-- Footer -->
{% include '/Users/yana/Documents/Task/sciekipolskie/templates/includes/footer.html' %}
<!-- Footer -->
</body>
</html>